/* Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.rights {
    position: relative;
    margin: 20px auto;
    width: 1207px;
    height: 766px;
    background: linear-gradient(89.37deg, #F3D3EB 0.55%, #8EBDD1 99.48%);
    border: 3px solid #000000;
    border-radius: 46px;
}
.qr{
    position: absolute;
    top: 99px;
    left: 102px;
}
table{
    margin: 99px 31px 171px 266px;   
    width: 910px;
    height: 496px;
    border: 4px solid #000000;
    border-collapse: collapse;
}
td {
    border: 4px solid #000000;
    height: 50px;
    position: relative;
}
td:nth-child(1){
    width: 243px;
}
td:nth-child(2){
    width: 177px;
}
td:nth-child(3){
    width: 173px;
}
td:nth-child(4){
    width: 317px;
}
p{
    margin: 5px 155px 10px 12px;
    display: block;
    width: 72px;
    height: 31px;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
img{
    position: absolute;
    top: 9px;
    left: 98px;
}
.series1 {
    position: absolute;
    top: 665px;
    left: 606px;
    width: 86px;
    height: 86px;
  
}
.series1
p   {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    color: #5C2B30;
}
.series2 {
    position: absolute;
    left: 759px;
    top: 665px;
    width: 86px;
    height: 86px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    color: #5C2B30;
}
.series2 
p   {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    color: #5C2B30;
}
.number {
    position: absolute;
    left: 903px;
    top: 665px;
    width: 86px;
    height: 86px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    color: #5C2B30;
}
.number
p   {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    color: #5C2B30;
}